Specifically, in this project you should:
• Choose a real-world phenomenon that can be measured and for which you could
collect at least one-hundred data points across at least four different variables.
• Investigate the types of variables involved, their likely distributions, and their
relationships with each other.
• Synthesise/simulate a data set as closely matching their properties as possible.
• Detail your research and implement the simulation in a Jupyter notebook – the
data set itself can simply be displayed in an output cell within the notebook.

In [88]:
import pandas as pd
import numpy as np
import numpy.random as npr

In [183]:
idx=pd.date_range("1920", periods=101, freq="Y")

In [184]:
idx

DatetimeIndex(['1920-12-31', '1921-12-31', '1922-12-31', '1923-12-31',
               '1924-12-31', '1925-12-31', '1926-12-31', '1927-12-31',
               '1928-12-31', '1929-12-31',
               ...
               '2011-12-31', '2012-12-31', '2013-12-31', '2014-12-31',
               '2015-12-31', '2016-12-31', '2017-12-31', '2018-12-31',
               '2019-12-31', '2020-12-31'],
              dtype='datetime64[ns]', length=101, freq='A-DEC')

In [185]:
rng=np.random.default_rng()

In [236]:
df = pd.DataFrame({'year': (idx),
                    'total fertility rate': rng.random (len(idx)),
                    'Average years of education': np.linspace (2.9, 13.07, len(idx)),
                    'population': rng.random (len(idx)),
                    'GNI per capita': np.concatenate((np.linspace(0,0,52),np.linspace(100,500,49)))})

In [237]:
df.loc[50:55]

,year,total fertility rate,Average years of education,population,GNI per capita
50,1970-12-31,0.627731,7.9850,0.198795,0.000000
51,1971-12-31,0.527200,8.0867,0.557374,0.000000
52,1972-12-31,0.428267,8.1884,0.315472,100.000000
53,1973-12-31,0.190009,8.2901,0.359241,108.333333
54,1974-12-31,0.789367,8.3918,0.335836,116.666667
55,1975-12-31,0.737173,8.4935,0.257416,125.000000

In [217]:
df.loc[0:53,'GNI per capita']=np.linspace(0,0,54)
df.loc[53:101,'GNI per capita']=np.linspace(100,500,48)

print(df)

          year  total fertility rate  Average years of education  population  \
0   1920-12-31              0.382467                      2.9000    0.778374
1   1921-12-31              0.196567                      3.0017    0.648630
2   1922-12-31              0.955506                      3.1034    0.570834
3   1923-12-31              0.221655                      3.2051    0.240549
4   1924-12-31              0.794542                      3.3068    0.430157
..         ...                   ...                         ...         ...
96  2016-12-31              0.416712                     12.6632    0.710145
97  2017-12-31              0.426027                     12.7649    0.836214
98  2018-12-31              0.164933                     12.8666    0.754030
99  2019-12-31              0.498603                     12.9683    0.984784
100 2020-12-31              0.996032                     13.0700    0.222900

     GNI per capita
0          0.000000
1          0.000000
2          0.000000
3          0.000000
4          0.000000
..              ...
96       465.957447
97       474.468085
98       482.978723
99       491.489362
100      500.000000

[101 rows x 5 columns]

https://ourworldindata.org/grapher/fertility-rate-vs-mean-years-of-schooling?tab=table&time=1870..2020
time 1920-2020
country/ area: Ireland
Total fertility rate (children per woman)-The total fertility rate is the number of children that would be born to a woman if she were to live to the end of her child-bearing years and give birth to children at the current age-specific fertility rates.
Average years of education for 15-64 year olds (years), 
Population (historical estimates)
https://www.macrotrends.net/countries/IRL/ireland/gni-per-capita
GNI per capitaGNI per capita (formerly GNP per capita) is the gross national income, converted to U.S. dollars using the World Bank Atlas method, divided by the midyear population.

We will be looking at data for Ireland between 1920 and 2020, too find any patterns and correlations between womens education, fertility rate, size and wealth of the population.

fertility in 1920 3.20 in 2020 1.97
from 1920 to 1940 declining to 2.56
growth till 1965 3.95
decline till 1995 1.9 
and no big change till 2020 1.97

education  2.9  13.7  was groing more o less linear so we can use linear function to simulate data
population 1920 4 192 107 
1925 3.520 184
 1930 2.952 393
  1935 2,894 554 
  1940 2,908,297
  1945 2,912,306
  1950 2,906,608
  1955 2,886,375
  1960 2,811,075
  1965 2,852,404
  1970 2,937,647
  1975 3,157,921
  1980 3,391,393
  1985 3,505,781
  1990 4,192,107
  1995 3,579,486
  2000 3,768,954
  2005 4,121,220
  2010 4,524,581	
  2015 4,665,764	
2020 4 946 123

GNI per capita 1972 2070     2020 65 330 we don't have data prior 1972 we have to leave it blank and we can see slow growth from 1972 to 2002 24.920 then rapid to 2008 50. 940 littl drop to 2012 40.840 and steady grouwth till 2020 65 330 to simulate it we will have to create 5 sets of data
Total fertility rate (children per woman)-The total fertility rate is the number of children that would be born to a woman if she were to live to the end of her child-bearing years and give birth to children at the current age-specific fertility rates.