Specifically, in this project you should:
• Choose a real-world phenomenon that can be measured and for which you could
collect at least one-hundred data points across at least four different variables.
• Investigate the types of variables involved, their likely distributions, and their
relationships with each other.
• Synthesise/simulate a data set as closely matching their properties as possible.
• Detail your research and implement the simulation in a Jupyter notebook – the
data set itself can simply be displayed in an output cell within the notebook.

In [11]:
import pandas as pd
import numpy as np
import numpy.random as npr

In [46]:
idx=pd.date_range("1920", periods=100, freq="Y")

In [ ]:
idx

In [14]:
rng=np.random.default_rng()

In [57]:
df = pd.DataFrame({'year': pd.date_range("1920", periods=100, freq="Y"),
                    'total fertility rate': rng.random (len(idx)),
                    'Average years of education': rng.random (len(idx)),
                    'population': rng.random (len(idx)),
                    'GNI per capita': rng.random (len(idx))})

In [58]:
df

,year,total fertility rate,Average years of education,population,GNI per capita
0,1920-12-31,0.144716,0.898993,0.748860,0.559983
1,1921-12-31,0.979344,0.347786,0.055898,0.682220
2,1922-12-31,0.803784,0.562264,0.649410,0.383523
3,1923-12-31,0.163617,0.918979,0.241948,0.129603
4,1924-12-31,0.821278,0.534045,0.103278,0.218833
...,...,...,...,...,...
95,2015-12-31,0.110339,0.572834,0.903975,0.704821
96,2016-12-31,0.047533,0.741184,0.185572,0.321556
97,2017-12-31,0.083185,0.102699,0.586123,0.855849
98,2018-12-31,0.953226,0.697633,0.742799,0.578726
99,2019-12-31,0.171882,0.669547,0.343422,0.916136

In [37]:
ts=pd.DataFrame( data=rng.random (len(idx)), index=idx, 
                columns=["total fertility rate"])

In [ ]:
ts

https://ourworldindata.org/grapher/fertility-rate-vs-mean-years-of-schooling?tab=table&time=1870..2020
time 1920-2020
country/ area: Ireland, Nepal, Canada, World
Total fertility rate (children per woman)-The total fertility rate is the number of children that would be born to a woman if she were to live to the end of her child-bearing years and give birth to children at the current age-specific fertility rates.
Average years of education for 15-64 year olds (years), 
Population (historical estimates)
https://www.macrotrends.net/countries/IRL/ireland/gni-per-capita
GNI per capita